* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: monospace;
  font-size: 20px;
  line-height: 1rem;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: grid;
  justify-items: center;
}

canvas {
  display: block;
}
canvas.bg {
  height: 0px;
}
canvas.grab {
  cursor: pointer;
}
canvas.grabbing {
  cursor: grabbing;
}
canvas.grabbing + label {
  pointer-events: none;
}

label, p {
  position: absolute;
  font-size: 0.8rem;
  line-height: 1em;
}

label {
  width: 50%;
  top: 2rem;
  display: grid;
  gap: 0.5rem;
}
label.hidden {
  display: none;
}
label span {
  font-size: inherit;
}

p {
  bottom: 2rem;
  text-align: center;
}
